<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928692766284-a0ng5tqeno54jpavfanv2n427krhmdu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928692766284-a0ng5tqeno54jpavfanv2n427krhmdu1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928692766284-npbljo0bt6e9o37qto0rfcnks2nmmb4q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpH4wCYpc5qWBEH7r4bvXZ4ZgeP5_jbbs</string>
	<key>GCM_SENDER_ID</key>
	<string>928692766284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BigwonGallery</string>
	<key>PROJECT_ID</key>
	<string>bigwon-gallery-80d21</string>
	<key>STORAGE_BUCKET</key>
	<string>bigwon-gallery-80d21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928692766284:ios:7599b59fb56a6ef2ec96e9</string>
</dict>
</plist>